<div class="three-25FC" style="opacity: 0;">
  <%- include("./_contents/_toast.ejs") %>

  <%- include("./_contents/_gradations.ejs") %>

  <%- include("./_contents/_start-modal.ejs") %>

  <%- include("./_contents/_question-modal.ejs") %>

  <%- include("./_contents/_result.ejs") %>

</div>