<div id="question-modal" class="question-modal has-state">

  <%- include("./_question-header.ejs") %>

  <div class="question-item question-item--1" data-question-item="1">

    <div class="question-item__header">
      <h2 class="question-item__header__ttl">一番印象に残ったゾーン（エリア）は？</h2>
      <p class="question-item__header__ttl-en">Which zone (area) was the most memorable?</p>
    </div>
    <ul class="question-item__list question-item__list--row">
      <%
        const Q1List = [
          {
            imgBefore: "1_1.jpg",
            imgAfter: "1_2.jpg",
            ttl: 'ZONE1（ジャングル室）',
            en: "ZONE1（Wet Tropics Garden）",
            point: "1"
          },
          {
            imgBefore: "2_1.jpg",
            imgAfter: "2_2.jpg",
            ttl: 'ZONE2（有用作物室）',
            en: "ZONE2（Useful Tropical Plants Garden）",
            point: "0"
          },
          {
            imgBefore: "3_1.jpg",
            imgAfter: "3_2.jpg",
            ttl: 'ZONE3（砂漠サバンナ室）',
            en: "ZONE3（Dry Tropics Garden）",
            point: "-1"
          },
          {
            imgBefore: "4_1.jpg",
            imgAfter: "4_2.jpg",
            ttl: 'ZONE4（ラン・アナナス室）',
            en: "ZONE4（Orchids & Bromeliads Garden）",
            point: "1"
          },
        ]
      %>

      <% Q1List.forEach(element => { %>
          <li>
            <div type="button" data-point="<%- element.point %>" class="button button--column">
              <div class="button__thumb">
                <img class="button__thumb__1" src="<%= IMAGE_PATH %>question/<%- element.imgBefore %>" alt=""><img src="" alt="">
                <img class="button__thumb__2" src="<%= IMAGE_PATH %>question/<%- element.imgAfter %>" alt=""><img src="" alt="">
              </div>
              <div class="button__text">
                <p class="button__text__ja"><%- element.ttl %></p>
                <p class="button__text__en"><%- element.en %></p>
              </div>
              <div class="button__check"></div>
            </div>
          </li>
      <% });%>
    </ul>
  </div>

  <div class="question-item question-item--2" data-question-item="2">
    <div class="question-item__header">
      <h2 class="question-item__header__ttl">今の気分・状態に近いのは？</h2>
      <p class="question-item__header__ttl-en">Which best describes your current mood or state?</p>
    </div>
    <%
      const Q2List = [
        {
          ttl: "大切な人と時間を<br>過ごしたい",
          en: "Share Moments with<br>Special people",
          point: "-4"
        },
        {
          ttl: "とにかくたっぷり<br>眠りたい",
          en: "Sleep Deeply and Fully",
          point: "-4",
        },
        {
          ttl: "何か楽しいこと<br>を見つけたい",
          en: "Discover Something Fun",
          point: "4",
        },
        {
          ttl: " アクティブに動いて<br>リフレッシュした",
          en: "Refresh Through Movement",
          point: "4",
        },
        {
          ttl: "ひと息ついて<br>深呼吸したい",
          en: "Take a Moment to<br>Breathe Deeply",
          point: "0",
        },
        {
          ttl: '心のバランスを<br>整えた',
          en: "Rebalance Mind<br>and Soul",
          point: "0",
        },
      ]
    %>

    <ul class="question-item__list question-item__list--2column">
      <% Q2List.forEach(element => { %>
        <li>
          <div type="button" data-point="<%- element.point %>" class="button button--row">
            <div class="button__check"></div>
            <div class="button__text">
              <p class="button__text__ja"><%- element.ttl %></p>
              <p class="button__text__en"><%- element.en %></p>
            </div>
          </div>
        </li>
      <% });%>
    </ul>
  </div>

  <div class="question-item question-item--3" data-question-item="3">
     <div class="question-item__header question-item__header--q3">
      <h2 class="question-item__header__ttl">次の休みに過ごしたい場所は？</h2>
      <p class="question-item__header__ttl-en">Where do you want to go on your next day off?</p>
    </div>
    <%
      const Q3List = [
        {
          ttl: "温泉旅館",
          en: "Traditional Hot Spring<br>Inn (Ryokan)",
          point: "-1"
        },
        {
          ttl: "美術館や博物館",
          en: "Museums",
          point: "0"
        },
        {
          ttl: "自然の中を<br>ハイキング",
          en: "Hiking in Nature",
          point: "1"
        },
        {
          ttl: "テーマパークなど<br>賑やかな場所",
          en: "Theme Parks or<br>Lively Spots",
          point: "1"
        },
        {
          ttl: "自分の家",
          en: "Relaxing at Home",
          point: "-1"
        },
        {
          ttl: "お寺で座禅体験",
          en: "Zen Meditation<br>at a Temple",
          point: "0"
        },
      ]
    %>
    <ul class="question-item__list question-item__list--2column">
      <% Q3List.forEach(element => { %>
        <li>
          <div type="button" data-point="<%- element.point %>" class="button button--row">
            <div class="button__check"></div>
            <div class="button__text">
              <p class="button__text__ja"><%- element.ttl %></p>
              <p class="button__text__en"><%- element.en %></p>
            </div>
          </div>
        </li>
      <% });%>
    </ul>
  </div>

  <div class="prev-btn-box">
    <button type="button" id="prev-btn" class="prev-btn">
      <img src="<%= IMAGE_PATH %>icon_arrow.svg" alt="">
      前の質問に戻る
    </button>
  </div>

  <!-- <div id="loading" class="question-item question-item--loading">
    <%## include("./_loading.ejs") %>
  </div> -->

  <%- include("./_logo.ejs", {
    id: "question-footer-logo",
    className: 'logo--question-modal-footer'
  }) %>
</div>
