<div id="question-modal" class="question-modal has-state">

  <%- include("./_question-header.ejs") %>

  <div class="question-item question-item--1" data-question-item="1">

    <div class="question-item__header">
      <h2 class="question-item__header__ttl">一番印象に残ったゾーン（エリア）は？</h2>
      <p class="question-item__header__ttl-en">Which zone (area) was the most memorable?</p>
    </div>
    <ul class="question-item__list question-item__list--2column question-item__list--row">
      <%
        const Q1List = [
          {
            imgBefore: "1_1.jpg",
            imgAfter: "1_2.jpg",
            ttl: 'ZONE1（ジャングル室）',
            en: "ZONE1（Wet Tropics Garden）",
            point: "1"
          },
          {
            imgBefore: "2_1.jpg",
            imgAfter: "2_2.jpg",
            ttl: 'ZONE2（有用作物室）',
            en: "ZONE2（Useful Tropical Plants Garden）",
            point: "1"
          },
          {
            imgBefore: "3_1.jpg",
            imgAfter: "3_2.jpg",
            ttl: 'ZONE3（砂漠サバンナ室）',
            en: "ZONE3（Dry Tropics Garden）",
            point: "-1"
          },
          {
            imgBefore: "4_1.jpg",
            imgAfter: "4_2.jpg",
            ttl: 'ZONE4（ラン・アナナス室）',
            en: "ZONE4（Orchids & Bromeliads Garden）",
            point: "0"
          },
        ]
      %>

      <% Q1List.forEach(element => { %>
          <li>
            <div type="button" data-point="<%- element.point %>" class="button">
              <div class="button__thumb">
                <img class="button__thumb__1" src="<%= IMAGE_PATH %>question/<%- element.imgBefore %>" alt=""><img src="" alt="">
                <img class="button__thumb__2" src="<%= IMAGE_PATH %>question/<%- element.imgAfter %>" alt=""><img src="" alt="">
              </div>
              <div class="button__text">
                <p class="button__text__ja"><%- element.ttl %></p>
                <p class="button__text__en"><%- element.en %></p>
              </div>

              <div class="button__check"></div>
            </div>
          </li>
      <% });%>
    </ul>
  </div>

  <div class="question-item question-item--2" data-question-item="2">
    <div class="question-item__header">
      <h2 class="question-item__header__ttl">今の気分・状態に近いのは？</h2>
      <p class="question-item__header__ttl-en">Which best describes your current mood or state?</p>
    </div>
    <%
      const Q2List = [
        { ttl: "大切な人と<br>時間を過ごしたい", point: "-4" },
        { ttl: "とにかく<br>たっぷり眠りたい", point: "-4", },
        { ttl: "何か楽しいこと<br>を見つけたい", point: "4", },
        { ttl: " アクティブに動いて<br>リフレッシュしたい", point: "4", },
        { ttl: "ひと息ついて<br>深呼吸したい", point: "0", },
        { ttl: '心のバランスを<br class="is-sp">整えたい', point: "0", },
      ]
    %>

    <ul class="question-item__list question-item__list--2column">
      <% Q2List.forEach(element => { %>
        <li>
          <button type="button" data-point="<%- element.point %>" class="button">
            <span><%- element.ttl %></span>
          </button>
        </li>
      <% });%>
    </ul>
  </div>

  <div class="question-item question-item--3" data-question-item="3">
     <div class="question-item__header">
      <h2 class="question-item__header__ttl">次の休みに過ごしたい場所は？</h2>
      <p class="question-item__header__ttl-en">Where do you want to go on your next day off?</p>
    </div>
    <%
      const Q3List = [
        { ttl: "暖かな日差しが<br>降り注ぐ海辺", point: "-1" },
        { ttl: "風が心地よい森林", point: "-1" },
        { ttl: "繁華街などの夜の街", point: "1" },
        { ttl: "エキゾチックな<br>異国の地", point: "1" },
        { ttl: "静かな自分の家", point: "0" },
        { ttl: "雨あがりの庭", point: "0" },
      ]
    %>
    <ul class="question-item__list question-item__list--2column">
      <% Q3List.forEach(element => { %>
        <li>
          <button type="button" data-point="<%- element.point %>" class="button">
            <span><%- element.ttl %></span>
          </button>
        </li>
      <% });%>
    </ul>
  </div>

  <div class="prev-btn-box">
    <button type="button" id="prev-btn" class="prev-btn">
      <img src="<%= IMAGE_PATH %>icon_arrow.svg" alt="">
      前の質問に戻る
    </button>
  </div>

  <!-- <div id="loading" class="question-item question-item--loading">
    <%## include("./_loading.ejs") %>
  </div> -->

  <%- include("./_logo.ejs", {
    id: "question-footer-logo",
    className: 'logo--question-modal-footer'
  }) %>
</div>
