<div id="result" class="result has-animation">
  <%- include("./_logo.ejs", {
    id: "result-logo",
    className: "logo--result",
  }) %>

  <div class="result__container">
    <%- include("./_result/_result-item_01_LIKE_A_FLOWERxWoody.ejs") %>
    <%- include("./_result/_result-item_01_LIKE_A_FLOWERxSpicy.ejs") %>
    <%- include("./_result/_result-item_01_LIKE_A_FLOWERxClean.ejs") %>

    <%- include("./_result/_result-item_02_DAYS_IN_THE_TREESxFloral.ejs") %>
    <%- include("./_result/_result-item_02_DAYS_IN_THE_TREESxSpicy.ejs") %>
    <%- include("./_result/_result-item_02_DAYS_IN_THE_TREESxClean.ejs") %>

    <%- include("./_result/_result-item_03_BLACKCURRANT_BERETxFloral.ejs") %>
    <%- include("./_result/_result-item_03_BLACKCURRANT_BERETxSpicy.ejs") %>
    <%- include("./_result/_result-item_03_BLACKCURRANT_BERETxClean.ejs") %>

    <%- include("./_result/_result-item_04_SPIRIT_OF_EDENxFloral.ejs") %>
    <%- include("./_result/_result-item_04_SPIRIT_OF_EDENxFruity.ejs") %>
    <%- include("./_result/_result-item_04_SPIRIT_OF_EDENxClean.ejs") %>

    <%- include("./_result/_result-item_00_WRITTEN_IN_STONExFloral.ejs") %>
    <%- include("./_result/_result-item_00_WRITTEN_IN_STONExSpicy.ejs") %>
    <%- include("./_result/_result-item_00_WRITTEN_IN_STONExEarthy.ejs") %>

    <%- include("./_result/_result-item_05_AFTER_THE_RAINxFloral.ejs") %>
    <%- include("./_result/_result-item_05_AFTER_THE_RAINxSpicy.ejs") %>
    <%- include("./_result/_result-item_05_AFTER_THE_RAINxClean.ejs") %>
  </div>

</div>