<div id="result" class="result has-animation">
  <%- include("./_logo.ejs", {
    id: "result-logo",
    className: "logo--result",
  }) %>

  <div class="result__container">
    <%- include("./_result/_result-item_01_LIKE_A_FLOWER.ejs") %>
    
    <%- include("./_result/_result-item_02_DAYS_IN_THE_TREES.ejs") %>

    <%- include("./_result/_result-item_03_BLACKCURRANT_BERET.ejs") %>

    <%- include("./_result/_result-item_04_SPIRIT_OF_EDEN.ejs") %>

    <%- include("./_result/_result-item_00_WRITTEN_IN_STONE.ejs") %>

    <%- include("./_result/_result-item_05_AFTER_THE_RAIN.ejs") %>
  </div>

</div>