<div id="start-modal" class="start-modal has-state has-animation">

  <%- include('./_start.ejs') %>

  <div class="start-modal__bg-circle">
    <img src="<%= IMAGE_PATH %>start_bg-circle.svg" alt="">
  </div>

  <div class="start-modal__material start-modal__material--1">
    <img class="is-sp" src="<%= IMAGE_PATH %>start-material_1.png" alt="">
    <img class="is-pc" src="<%= IMAGE_PATH %>start-material_1_pc.png" alt="">
  </div>
  <div class="start-modal__material start-modal__material--2">
    <img class="is-sp" src="<%= IMAGE_PATH %>start-material_2.png" alt="">
    <img class="is-pc" src="<%= IMAGE_PATH %>start-material_2_pc.png" alt="">
  </div>
  <div class="start-modal__material start-modal__material--3">
    <img class="is-sp" src="<%= IMAGE_PATH %>start-material_3.png" alt="">
    <img class="is-pc" src="<%= IMAGE_PATH %>start-material_3_pc.png" alt="">
  </div>
  <div class="start-modal__material start-modal__material--4">
    <img class="is-sp" src="<%= IMAGE_PATH %>start-material_4.png" alt="">
    <img class="is-pc" src="<%= IMAGE_PATH %>start-material_4_pc.png" alt="">
  </div>
  <div class="start-modal__material start-modal__material--5">
    <img class="is-sp" src="<%= IMAGE_PATH %>start-material_5.png" alt="">
    <img class="is-pc" src="<%= IMAGE_PATH %>start-material_5_pc.png" alt="">
  </div>
  <div class="start-modal__material start-modal__material--6">
    <img class="is-sp" src="<%= IMAGE_PATH %>start-material_6.png" alt="">
    <img class="is-pc" src="<%= IMAGE_PATH %>start-material_6_pc.png" alt="">
  </div>
</div>
